
/*DEVELOPER: MengCheng Wang, IS117-005, Fall 2023 */


nav{
    font-size: 150%;
    padding-top: 2em;
}

.bg-unique {
    background-color: black !important;
}

.navbar-dark{
    font-weight: bold;
}

.navbar-nav .nav-item {
    margin-right: 10px;
    padding: .5em;
}

.navbar-dark .navbar-toggler {
    color: white;
    border-color: white;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.form-group{
    font-weight: bold;
}